
<div class="container" style="margin-top:20px;">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="panel panel-default main-panel">
        <div class="panel-heading">
		  		<h1 class="panel-header">
                  <%= @app.name %> 

                  <% @app.tag_list.each do |f| %>
                  <%= link_to f, tag_path(f), class: "btn btn-sm btn-default" %>
                  <% end %>
		  			<% if @app.user == current_user %>
                      <%= link_to 'Edit', edit_app_path(@app), class: "btn btn-blue buy" %>
                    <% end %>
		    		<ul class="nav nav-tabs pull-right" role="tablist">
			  			<li><a href="<%= @app.url %>">Go to Blog</a></li>
						</ul>

						<div class="clearfix"></div>
		  		</h1>
	    	</div>
		  	<div class="panel-body">

		    	<div class="row">

		      	<div class="col-md-7">

		          
			    		<div id="gallery-1" class="royalSlider rsDefault">

							   <%=link_to( image_tag(@app.image.url(:medium), :class => " app-image", :style => "width:85%; height:300px;"), @app.url, target: "_blank") %> 
								
									  
			  			</div>

		         
	           
						</div>

			 			<div class="col-md-5">
			  			<div class="panel panel-default user-app">
			    			<div class="panel-heading">
			      			<h3 class="panel-header">
			      				<div class="pull-right">
			        				
			      				</div>
			      				<%=@app.impressionist_count%> views

			      					
				  				</h3>
									<div class="clearfix"></div>
			  				</div>

							</div>

							<div class="row">
			  				<div class="col-md-12">
									<div class="panel panel-default show-panel ">

                  <h4><%=@app.description%> </h4>
                  




								</div>
			  			</div>
						</div>
           </div>
          </div>  
        </div>
      </div>
     </div>
    </div>
  </div>



             
		

			


    <script id="addJS">
      jQuery(document).ready(function($) {
        $('#gallery-1').royalSlider({
          fullscreen: {
            enabled: false,
            nativeFS: true
          },
          controlNavigation: 'thumbnails',
          autoScaleSlider: true, 
          autoScaleSliderWidth: 960,     
          autoScaleSliderHeight: 850,
          loop: false,
          imageScaleMode: 'fit-if-smaller',
          navigateByClick: true,
          numImagesToPreload:2,
          arrowsNav:true,
          arrowsNavAutoHide: true,
          arrowsNavHideOnTouch: true,
          keyboardNavEnabled: true,
          fadeinLoadedSlide: true,
          globalCaption: false,
          globalCaptionInside: false,
          thumbs: {
            appendSpan: true,
            firstMargin: true,
            paddingBottom: 4
          }
        });
      });
    </script>
